* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-weight: bold;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  order: 1;
}

header, footer {
  background: #95ceff;
  height: 40px;
}
header, footer, article, nav, aside {
  padding: 1em;
}

#topRow{
  width:60%;
  margin: auto;
  margin-bottom: 20px;
}

#myBtn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-left: 10px;
}

input[type=text] {
  width: 75%;
  float:left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=button], input[type=submit], input[type=selected] {
  float:right;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-left: 10px;
  cursor: pointer;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


#bottomRow {
  max-height: 500px;
  overflow-y: auto;
}

table {
  margin: auto;
  width: 70%;
  border-collapse: collapse;
  overflow-y: scroll;
}
table th tr{
    position: absolute;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;

}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;

}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block;
    width:100%
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

    td:nth-of-type(1):before { content: "Contact Type"; }
    td:nth-of-type(2):before { content: "Business Name"; }
    td:nth-of-type(3):before { content: "Name"; }
    td:nth-of-type(4):before { content: "Phone"; }
    td:nth-of-type(5):before { content: "Email"; }
    td:nth-of-type(6):before { content: "Edit"; }
    td:nth-of-type(7):before { content: "Delete"; }
}

.modal {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {

  background-color: #fefefe;
  margin: auto;
  width: 50%;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #008CBA;
  color: white;
}
